#countylayer {
  stroke-width: 2px;
  fill: #fefefe;
  stroke-linecap: butt;
  stroke-opacity: 1;
}
#placelayer
{
 fill: #d0d0d0;
}
#placelayer[LSAD=57]
{
 fill: #fefefe;
}

#countysublayer
{
    stroke: #000000;
    fill: #ffffff;
}

.water
{
#  color: #3f3fff;
  stroke-width: 2px;
#  stroke: #3f3fff;
#  fill: #3f3fff;
color: #ffffff;
stroke: #ffffff;
fill: #ffffff;
}
#statelayer
{
  fill: #e8e2b7;
#   opacity: 0.2;
}

#statelayer[PLACEFP=00000]
{
  fill: none;
  stroke: #006000;
  stroke-width: 1px;
  opacity: 1.0;
#   opacity: 0.2;
}


#highlightlayer
{
    stroke: red;
    stroke-width: 1px;
}
